:root {
    --main-text-color:#212121;
    --header-contacts-text-color:#757575;
    --hover-text-color:#2196F3;
    --main-title-text-color:#b1b1b1;
    --paragraph-text-color:#757575;
    --address-text-color:#FFFFFF;
    --main-background-color:#FFFFFF;
    --footer-contacts-text-color:rgba(255, 255, 255, 0.6);
}
/* -------------------------------------------Страница Студия---------------------------------------------------------- */
/* -------------------------------- Header --------------*/
.studio-header {
}
a {
    text-decoration: none;
}
.studio-logo-header {
    color:#212121;
    text-decoration: none;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.studio-logo-header-web {
    color:#2196F3;
}
ul>li {
    list-style-type: none;
    text-decoration: none;
}
.navigation-list {
    color:#212121;
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
}
.contact-list {
    color:#757575;
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight:500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.link {
    text-decoration:none;
    color:inherit;
}
.link:hover, .link:focus {
    color:#2196F3;
}
/* ------------------------------------Main--------------------------------- */
.service-order {
   
}
.service-title {
    font-family:'Roboto', sans-serif;
    font-weight:900;
    font-style:normal;
    font-size:44px;
    line-height:1.36;
    letter-spacing:0.06em;
    text-align:center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:#FFFFFF;
}
.main-button {

    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
/* ------------------------Характеристики работы-------------------------------- */

 /* удалить тут и в html */
.characteristic {
   
}
.characteristic-item-title {
    color:#212121;
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
 }
 .characteristic-item-subtitle {
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
 }
/* ----------------------------------------------------------Чем мы занимаемся------------------------------------------ */
 .we-do {
 }

.we-do-title {
    color:#212121;
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}
.we-do-photo {
    width: 370px;
    height: 294px;
}
/* --------------------------------------------------------Наша команда ---------------------------------------------- */
.team-title {
    color:#212121;
    
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}
/* ------------------------------Фото----------------------------- */
.team-member-photo {
    width: 270px;
    height: 260px;
    background: url();
    border-radius: 0px;
}
/* ---------------------------------Имя------------------------------ */
.team-member-name {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}
/* ---------------------------Профессия----------------- */
.job {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color:#757575;

    text-align: center;
    letter-spacing: 0.03em;

    color: #757575;
}

/* -----------------------------------------Студия--Футер------------------------------------------------------- */
  
.studio-footer {
    background: #2F303A;
}
.studio-logo-footer {
    
    font-family:'Raleway', sans-serif;
    font-style: normal;
    font-weight:700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.studio-logo-footer-web {
    color:#2196F3;
}
.studio-logo-footer-studio {
    color:#FFFFFF;
}

.studio-footer-address {

    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.studio-footer-mail {
    
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

}
.studio-footer-tel {
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
/* ------------------------------------------------------------Портфолио-------------------------------------------- */

.portfolio-header {
  
}
.portfolio-logo-header {
   
    font-family: 'Raleway', sans-serif;
    font-style: 400;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:#212121;
    text-decoration: none;
}
.portfolio-logo-header-web {
    color:#2196F3;
}
/* ----------------------Кнопки-------------- */
.button {
    cursor: pointer; 
    border-radius: 4px;
    font-family:'Roboto', sans-serif;
    font-style: 400;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    border-radius: 4px;
}
.button:hover {
    color:#2196F3;
}

/* ---------------------------Фото Проектов---------- */
.project-item-img {
    width: 370px;
    height: 294px;
}

/* -----------------------Названия проектов------------------- */
.project-item-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
/* ------------------------Виды проектов------------------------- */
.project-item-subtitle {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1,88;
    letter-spacing: 0.03em;
    color: #757575;
}

/* -------------------------------Портфолио Футер----------------------------- */
.portfolio-footer {
    background: #2F303A;
}
.portfolio-logo-footer {

    font-family:'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1ю19;
    letter-spacing: 0.03em;

}
.portfolio-logo-footer-web {
    color: #2196F3;
}
.portfolio-logo-footer-studio {
   color: #FFFFFF;
}
.portfolio-footer-address {
  
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:#FFFFFF;
}
.portfolio-footer-mail {
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.portfolio-footer-tel {
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

