:root {
    --main-text-color:#212121;
    --header-contacts-text-color:#757575;
    --hover-text-color:#2196F3;
    --main-title-text-color:#b1b1b1;
    --paragraph-text-color:#757575;
    --address-text-color:#FFFFFF;
    --main-background-color:#FFFFFF;
    --footer-contacts-text-color:rgba(255, 255, 255, 0.6);
}
/* -------------------------------------------Страница Студия---------------------------------------------------------- */
/* -------------------------------- Header --------------*/
.studio-header {
}
a {
    text-decoration: none;
}
.studio-logo-header {
    color:#212121;
    text-decoration: none;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.studio-logo-header-web {
    color:#2196F3;
}
ul>li {
    list-style-type: none;
    text-decoration: none;
}
.navigation-list {
    color:#212121;
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
}
.navigation-studio {
}
.navigation-portfolio {
 
}
.navigation-contacts {
  
}
.contact-list {
    color:#757575;
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight:500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contact-mail {
}
.contacts-tel {
  
    color:#757575;
}
.link {
    text-decoration:none;
    color:inherit;
}
.link:hover, .link:focus {
    color:#2196F3;
}
/* ------------------------------------Main--------------------------------- */
.service {
   
}
.service-title {
    font-family:'Roboto', sans-serif;
    font-weight:900;
    font-style:normal;
    font-size:44px;
    line-height:1.36;
    letter-spacing:0.06em;
    text-align:center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:#FFFFFF;
}
.main-button {

    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    /* удалить тут и в html */
}
.order { 
} 

/* ------------------------Характеристики работы-------------------------------- */

 /* удалить тут и в html */
.characteristic {
   
}
.characteristic-item-title {
    color:#212121;
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
 }
 .details {
    
 }
 .punctuality {
   
 }
.planning {
    
}
.modern-tech {
  
}
 .characteristic-item-subtitle {
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
 }
 .ideas {
  
 }
 .org-goal {
 
 }
 .consulting {
  
 }
 .problem-meaning {
   
 }
/* ----------------------------------------------------------Чем мы занимаемся------------------------------------------ */
 .we-do {
 }

.we-do-title {
    color:#212121;
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}
.we-do-photo {
    width: 370px;
    height: 294px;
}
.img1 {
  
}
.img2 {
  
}
.img3 {
  
}
/* --------------------------------------------------------Наша команда ---------------------------------------------- */
.team-title {
    color:#212121;
    
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}
/* ------------------------------Фото----------------------------- */
.team-member-photo {
    width: 270px;
    height: 260px;
}
.igor-photo {
 
}
.olga-photo {
  
}
.nikolai-photo {
  
}
.mikhail-photo {
   
}
/* ---------------------------------Имя------------------------------ */
.team-member-name {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}
.igor {
  
}
.olga {
  
}
.nikolai {

}
.mikhail {
  
}
/* ---------------------------Профессия----------------- */
.job {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color:#757575;

    text-align: center;
    letter-spacing: 0.03em;

    color: #757575;
}

.product-designer {
  
}
.frontend {  
  
}
.marketing {
  
}
.ui {
  
}
/* -----------------------------------------Студия--Футер------------------------------------------------------- */
  
.studio-footer {
    background: #2F303A;
}
.studio-logo-footer {
    
    font-family:'Raleway', sans-serif;
    font-style: normal;
    font-weight:700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

}
.studio-logo-footer-web {
    color:#2196F3;
}
.studio-logo-footer-studio {
    color:#FFFFFF;
}

.studio-footer-address {

    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.studio-footer-mail {
    
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

}
.studio-footer-tel {
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
/* ------------------------------------------------------------Портфолио-------------------------------------------- */

.portfolio-header {
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
}
.portfolio-logo-header {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    font-family: 'Raleway', sans-serif;
    font-style: 400;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19;
    letter-spacing: 0.03em;
    color:#212121;
    text-decoration: none;
    position: absolute;
}
.portfolio-logo-header-web {
    color:#2196F3;
}
/* ----------------------Кнопки-------------- */
.button {
    cursor: pointer;
    background-color:#E5E5E5;
}
.button:hover {
    color:#FFFFFF;
    background-color: #2196F3;
}
.button-item-all {
    position: absolute;
    width: 73px;
    height: 38px;
    left: 495px;
    top: 174px;
    background:  #F5F4FA;
    border-radius: 4px;
    border:#FFFFFF;
}
.button-item-sites {
    position: absolute;
    width: 128px;
    height: 38px;
    left: 576px;
    top: 174px;
    background: #F5F4FA;
    border-radius: 4px;
    border:#FFFFFF;
}
.button-item-apps {
    position: absolute;
    width: 145px;
    height: 38px;
    left: 712px;
    top: 174px;
    background: #F5F4FA;
    border-radius: 4px;
    border:#FFFFFF;
}
.button-item-design {
    position: absolute;
    width: 103px;
    height: 38px;
    left: 865px;
    top: 174px;
    background: #F5F4FA;
    border-radius: 4px;
    border:#FFFFFF;
}
.button-item-p-marketing {
    position: absolute;
    width: 130px;
    height: 38px;
    left: 976px;
    top: 174px;
    background: #F5F4FA;
    border-radius: 4px;
    border:#FFFFFF;
}
/* -----------------------Текст кнопок------------------ */
.button-text {
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}
/* -----------------------Проекты---------Фото---------- */
.projects {
background-color:#E5E5E5;
}

.technocrack {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 215px;
    top: 262px;
}
.new-orlean {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 615px;
    top: 262px;
}

.seafood {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 262px;
}
.prime{

    position: absolute;
    width: 370px;
    height: 294px;
    left: 215px;
    top: 696px;
}
.boxes{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 615px;
    top: 696px;
}
.inspiration {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 696px;
}
.ltd {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 215px;
    top: 1130px;
}
.lab {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 615px;
    top: 1130px;
}
.g-b{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 1130px;
}
/* -----------------------Названия проектов------------------- */
.project-item-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
.techno {
    position: absolute;
    width: 322px;
    height: 36px;
    left: 239px;
    top: 576px;
}
.poster {
    position: absolute;
    width: 322px;
    height: 36px;
    left: 639px;
    top: 576px;
}
.restoran-seafood {
    position: absolute;
    width: 322px;
    height: 36px;
    left: 1039px;
    top: 576px;
}
.project-prime {
    position: absolute;
    width: 322px;
    height: 36px;
    left: 239px;
    top: 1010px;
}
.project-boxes {
    position: absolute;
    width: 322px;
    height: 36px;
    left: 639px;
    top: 1010px;
}
.inspiration-borders {
    position: absolute;
    width: 322px;
    height: 36px;
    left: 1039px;
    top: 1010px;
}
.isdadie-ltd {

    position: absolute;
    width: 322px;
    height: 36px;
    left: 239px;
    top: 1444px;
}
.project-lab {
    position: absolute;
    width: 322px;
    height: 36px;
    left: 639px;
    top: 1444px;
}
.growing-business {
    position: absolute;
    width: 322px;
    height: 36px;
    left: 1039px;
    top: 1444px;
}
/* ------------------------Виды проектов------------------------- */
.project-item-subtitle {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1,88;
    letter-spacing: 0.03em;
    color: #757575;
}
.sub-website1 {
    position: absolute;
    width: 322px;
    height: 30px;
    left: 239px;
    top: 616px;
}
.sub-design1 {
    position: absolute;
    width: 322px;
    height: 30px;
    left: 639px;
    top: 616px;
}
.sub-app1 {
    position: absolute;
    width: 322px;
    height: 30px;
    left: 1039px;
    top: 616px;
}
.sub-marketing1 {
    position: absolute;
    width: 322px;
    height: 30px;
    left: 239px;
    top: 1050px;
}
.sub-app2 {

    position: absolute;
    width: 322px;
    height: 30px;
    left: 639px;
    top: 1050px;
}
.sub-wesite2 {
    position: absolute;
    width: 322px;
    height: 30px;
    left: 1039px;
    top: 1050px;
}
.sub-design2 {
    position: absolute;
    width: 322px;
    height: 30px;
    left: 239px;
    top: 1484px;
}
.sub-marketing2 {
    position: absolute;
    width: 322px;
    height: 30px;
    left: 639px;
    top: 1484px;
}
.sub-app3 {
    position: absolute;
    width: 322px;
    height: 30px;
    left: 1039px;
    top: 1484px;
}
/* -------------------------------Портфолио Футер----------------------------- */
.portfolio-logo-footer {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 1688px;

    font-family:'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1,19;
    letter-spacing: 0.03em;
}
.portfolio-logo-footer-web {
    color: #2196F3;
}
.portfolio-logo-footer-studio {
   color: #FFFFFF;
   color:black;
}
.portfolio-footer-address {
    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 1739px;

    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color:#FFFFFF;
    color:black;
}
.portfolio-footer-mail {
    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 1769px;
    
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21,71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    color:black;
}
.portfolio-footer-tel {
    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 1799px;

    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    color:black;
}

