  
  $mainTextColor: #212121;
  $headerContactsTextColor: #757575;
  $hoverTextColor: #2196f3;
  $logoWeb-color: #2196f3;
  $mainTitleTextColor: #ffffff;
  $paragraphTextColor: #757575;
  $addressTextColor: #ffffff;
  $mainBackgroundColor: #ffffff;
  $footerContactsTextColor: rgba(255, 255, 255, 0.6);
  $footerBackgroundColor: #2f303a;
  $blueButtonBackgroundColor: #188CE8;
  $characteristicAndTeamBackground: #F5F4FA;
  $iconsFill:#AFB1B8;
  $iconsSocialHoverFill:#FFFFFF;
  $iconsCompanyHoverFill: #2196f3;
  $backdropBackground: rgba(0, 0, 0, 0.2);
  $sendButtonBackground:#2196F3;
  $sendButtonHoverBackround: #188CE8;
  $whiteTextColor: #ffffff;




  $RalewayFontFamily: "Raleway", sans-serif;

  $transitionFill: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  $transitionColor: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  $transitionBorder: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  $transitionBackgroundColor: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  $transitionBoxShadow: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);


