:root {
  --main-text-color: #212121;
  --header-contacts-text-color: #757575;
  --hover-text-color: #2196f3;
  --logo-header-web-color: #2196f3;
  --main-title-text-color: #ffffff;
  --paragraph-text-color: #757575;
  --address-text-color: #ffffff;
  --main-background-color: #ffffff;
  --footer-contacts-text-color: rgba(255, 255, 255, 0.6);
  --footer-background-color: #2f303a;
}
/* -------------------------------------------Страница Студия---------------------------------------------------------- */

p, h1, h2, h3, h4 {
  margin:0;
} 
ul {
  margin:0;
  padding:0; 
}
button {
  cursor:pointer;
}
body {
  font-family:"Roboto", sans-serif;
  width:1600px;
}
.link {
  text-decoration: none;
  color: inherit;
  list-style: none;
}
.link:hover,
.link:focus {
  color: var(--hover-text-color);
}
/* контейнером будет div */
.container {
  max-width: 1200px;
  padding-left: 5px;
  padding-right: 5px; 
  margin: 0 auto;
}
/* -------------------------------- Header --------------*/
.header {
  border-bottom: 1px solid #ECECEC;
}
.header-container {
  display:flex;
}
a {
  text-decoration: none;
}
.logo-header {
  color: var(--main-text-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  margin-top:24px;
  margin-bottom:25px;
}
.logo-header-web {
  color: var(--logo-header-web-color);
}
ul > li {
  list-style-type: none;
  text-decoration: none;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display:flex;
  color: var(--main-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
}
.navigation-item:not(:last-child) {
  margin-right:50px;
}

.contact-list {
  display:flex;
  margin-left: auto;
  align-items: center;
  color: var(--header-contacts-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-mail {
display:flex;
margin-right: 50px;
}
.header-phone {
  display:flex;
}
.section {
  padding-bottom: 94px;
}

/* ------------------------------------Main--------------------------------- */
.service-order {
  display:flex;
  padding-top:0;
  background-color:#2F303A;
  padding-bottom:0px;

}
.service {
 
}
.service-title {
  display:flex;
  font-weight: 900;
  font-style: normal;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-text-color);
  text-align: center;
  margin-left:252px;
  margin-top: 200px;
  
}
.main-button {
  display:flex;
  align-items: center;
  justify-content:center;

  min-width:200px;
  min-height:50px;
  font-family:"Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color:var(--logo-header-web-color);
  color:var(--main-title-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 40px;
  margin-bottom: 200px;
  margin-left:470px;
  margin-right:700px;
}
.main-button:hover {
}
/* ------------------------Характеристики работы-------------------------------- */
.characteristic-list {
  display:flex;
  margin-top:94px;
}
.characteristic-item {
  margin-right: 30px;
}
.characteristic-item-title {
  color: var(--main-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.characteristic-item-subtitle {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--paragraph-text-color);
}
/* ----------------------------------------------------------Чем мы занимаемся------------------------------------------ */
.we-do {
}
.we-do-list {
  display:flex;
  justify-content: space-between;
}
  
.we-do-title {
  color: var(--main-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom:50px;
}
.we-do-photo {
  max-width: 370px;
  max-height: 294px;
}
/* --------------------------------------------------------Наша команда ---------------------------------------------- */
.our-team {
}
.team-list {
  display:flex;
  justify-content: space-between;
}
.team-title {
  color: var(--main-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom:50px;
}
/* ------------------------------Фото----------------------------- */
.team-member-photo {
  max-width: 270px;
  max-height: 260px;
  background: url();
  border-radius: 0px;
}
/* ---------------------------------Имя------------------------------ */
.team-member-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top:30px;

  color: var(--main-text-color);
}
/* ---------------------------Профессия----------------- */
.job {
  font-style: normal;
  font-size: 16px;
  line-height: 1.19;
  color: var(--paragraph-text-color);
  margin-top: 10px;
  margin-bottom: 30px;

  text-align: center;
  letter-spacing: 0.03em;
}

/* -----------------------------------------Студия--Футер------------------------------------------------------- */

.footer {
  padding-top:60px;
  padding-bottom: 94px;
  background: var(--footer-background-color);
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-left:215px;
 
  
}
.logo-footer-web {
  color: var(--logo-header-web-color);
}
.logo-footer-studio {
  color: var(--main-title-text-color);
}
.footer-contacts {
 
}
.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--address-text-color);
  margin-left:215px;
  margin-top:20px;

}
.footer-mail {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-text-color);
  margin-left:215px;
  margin-top: 9px;

}

.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-text-color);
  margin-top: 9px;
  margin-left:215px;
}
/* ------------------------------------------------------------Портфолио-------------------------------------------- */

/* ----------------------Кнопки-------------- */
.buttons {
  padding-top:94px;
}
.button-list  {
  display:flex;
  align-items:center;
  justify-content: center;
}
.button {
  display:flex;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  border-radius: 4px;
  margin-right: 8px;
  border:none;
  height: 38px;
  min-width:73px;
  padding-top:6px;
  padding-left:22px;
  padding-right:22px;
}
.button:hover {
  color:var(--main-title-text-color);
  background-color:var(--hover-text-color);
}
/* --------------------------------------------Проекты------------------- */

.projects-list {
  display:flex;
  flex-wrap: wrap;
  list-style:none;
  margin-top: -30px;
  margin-left: -30px;
  padding: 0;
}
.card {
  display:flex;
  flex-direction:column;
  margin-top: 30px;
  margin-left: 30px;

  max-width:370px;
  max-height:404px;
  
}

/* --------------------Фото Проектов---------- */

.project-item-img {
  align-content: 370px;
  margin-top:0px;
}

/* ------------------Названия проектов--------- */
.project-item-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin:0px;
}
/* ------------------Виды проектов------------- */
.project-item-subtitle {
  font-style: normal;
  font-size: 16px;
  line-height: 1, 88;
  letter-spacing: 0.03em;
  color: var(--paragraph-text-color);
  margin:0px;
}
