.footer-subscription__form {
  display: flex;
  align-items: center;
  flex-direction: column;
    
      @media screen and (min-width:768px) {
        flex-wrap:wrap;
    }
    
      @media screen and (min-width:1200px) {
        display: inline;
        margin-left: 93px;
        
       
    }

  }
  .footer-subscription__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  color:$mainTitleTextColor;
  margin-bottom: 20px;
  text-align: center;

 
    @media screen and (min-width:768px) {

  }
  
    @media screen and (min-width:1200px) {
     
  }

  }
  .footer-subscription__input {
    background-color: #2F303A;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left:16px;
    color:$mainTitleTextColor;
    width:calc(100%-30px);
    margin-bottom: 20px;

   
   
      @media screen and (min-width:768px) {
        width:450px;
    }
    
      @media screen and (min-width:1200px) {
        width: 358px;
    }
  
  }

  .subscription-wrap {
    position: relative;


     @media screen and (min-width:768px) {
      position: relative;
      display: flex;
     justify-content: center;

    }
    

  }
  .footer-subscription__button {
    width: 200px;
    height: 50px;
    background-color:$sendButtonBackground;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    letter-spacing: 0.06em;
    padding-left:29px;
    padding-right: 62px;;
  
    color:$whiteTextColor;
    border:none;
  
  
   
      @media screen and (min-width:768px) {
     

    }
    
      @media screen and (min-width:1200px) {
        position:absolute;
    }
  }
  .footer-subscription__icon {
    position: absolute;
    margin-top:13px;
    margin-left:-45px;
    z-index:3;
   
      @media screen and (min-width:768px) {
      position: absolute;
      margin-top:13px;
      margin-left:130px;
    }
    
      @media screen and (min-width:1200px) {
        margin-top:13px;
        margin-left: 160px;
    }
  }