
.footer {
    padding-top:60px;
    padding-bottom: 60px;
    background:$footerBackgroundColor;
    position: relative;

  
  
  }

  .footer-container {
   

   
      @media screen and (min-width:768px) {
      display: flex;
      flex-wrap:wrap;
      justify-content: space-around;
    }
    
      @media screen and (min-width:1200px) {
        width:1200px;
        display:flex;
        justify-content: flex-start;
    }
  }

  .footer__links {
    text-align: center;
    // margin-bottom: 60px;

    @media screen and (min-width:768px) {
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-wrap:wrap;
    }
    @media screen and (min-width:1200px) {
      display: flex;
      align-items: start;
     width:231px;
      
   }
   
    
  }
  .logo-footer {
    font-family: $RalewayFontFamily;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.03em;
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 20px;
    text-align: center;
      
      @media screen and (min-width:768px) {
        font-size: 24px;
        line-height: 1.17;
        text-align: center;
       
    }
    
      @media screen and (min-width:1200px) {
       font-size: 26px;
       line-height: 1.19;
       margin-bottom: 20px;
       text-align: left;
      
       
    }
   
  }

  .logo-footer__web {
    color:$logoWeb-color;
  }


  .logo-footer__studio {
    color:$mainTitleTextColor;
  }

  .footer__address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color:$addressTextColor;
    text-align: center;

    
      @media screen and (min-width:1200px) {
       text-align: left;
    }
  
  }


  .footer__mail {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color:$footerContactsTextColor;
    text-align: center;
    margin-top: 8px;
  
   
      @media screen and (min-width:768px) {
        margin-top: 8px;
    }
    
      @media screen and (min-width:1200px) {
        margin-top: 9px;
        text-align: left;
    }
  
  }
  
  .footer__tel {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $footerContactsTextColor;
    text-align: center;
    margin-top: 8px;
 
    
      @media screen and (min-width:1200px) {
        text-align: left;
        margin-top: 9px;
    }
  }
  
  .footer-social {
    margin-top: 60px;
   
      @media screen and (min-width:768px) {
        margin-top: 0;
        display: flex;
        flex-direction: column;
  
    }
    
      @media screen and (min-width:1200px) {
        margin-left:70px;
    }
  }

  .join-us {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:$whiteTextColor;
  margin-bottom:20px;
  text-align: center;

  
    @media screen and (min-width:1200px) {
     text-align: left;
    }
  }

  .footer-social__list {
      display: flex;
      justify-content: center;
      margin-bottom: 60px;
  
   
      @media screen and (min-width:1200px) {
        display: flex;
    }
  }
  .footer-social__item {
    width:44px;
    height:44px;
    & + & {
      margin-left: 10px;
    }

  
  }
 
  .footer-social__link {
    width:100%;
    height:100%;
    display:block;
    fill: $whiteTextColor;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(255, 255, 255, 0.1);
    transition: $transitionColor, $transitionBackgroundColor; 

    &:hover,
    &:focus {
      fill:$iconsSocialHoverFill;
      background-color: $iconsCompanyHoverFill;
    }
    
  }
  
  
  