
.footer {
    padding-top:60px;
    padding-bottom: 60px;
    background:$footerBackgroundColor;

    @media screen and (min-width:480px) {
     position: relative;
    }
   
      @media screen and (min-width:768px) {
  
    }
    
      @media screen and (min-width:1200px) {
       
    }
  }
  .footer-container {
   
    @media screen and (min-width:480px) {
     
    }
   
      @media screen and (min-width:768px) {
  
    }
    
      @media screen and (min-width:1200px) {
        display:flex;
    }
  }
  .logo-footer {
    font-family: $RalewayFontFamily;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.03em;

    @media screen and (min-width:480px) {
      font-size: 24px;
      line-height: 1.17;
      position: absolute;
      right:163px;
      top: 40px;

    }
   
      @media screen and (min-width:768px) {
  
    }
    
      @media screen and (min-width:1200px) {
       font-size: 26px;
       line-height: 1.19;
    }
   
  }
  .logo-footer__web {
    color:$logoWeb-color;
  }
  .logo-footer__studio {
    color:$mainTitleTextColor;
  }
  .footer__address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color:$addressTextColor;
    margin-top:20px;

    @media screen and (min-width:480px) {
     text-align: center;
    }
   
      @media screen and (min-width:768px) {
  
    }
    
      @media screen and (min-width:1200px) {
       
    }
  
  }
  .footer__mail {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color:$footerContactsTextColor;
  
   

      @media screen and (min-width:480px) {
     text-align: center;
     margin-top: 8px;
    }
   
      @media screen and (min-width:768px) {
  
    }
    
      @media screen and (min-width:1200px) {
        margin-top: 9px;
    }
  
  }
  
  .footer__tel {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $footerContactsTextColor;
   

    @media screen and (min-width:480px) {
      text-align: center;
      margin-top: 8px;
    }
   
      @media screen and (min-width:768px) {
  
    }
    
      @media screen and (min-width:1200px) {
        margin-top: 9px;
    }
  }
  
  .footer-social {
    
      @media screen and (min-width:480px) {
     margin-top: 60px;
     
    }
   
      @media screen and (min-width:768px) {
  
    }
    
      @media screen and (min-width:1200px) {
        margin-left:70px;
    }
  }
  .join-us {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:$whiteTextColor;
  margin-bottom:20px;
  @media screen and (min-width:480px) {
    text-align: center;
  }
 
    @media screen and (min-width:768px) {

  }
  
    @media screen and (min-width:1200px) {
     
  }
  }
  .footer-social__list {
    
      @media screen and (min-width:480px) {
      display: flex;
      justify-content: center;
      margin-bottom: 60px;
    }
   
      @media screen and (min-width:768px) {
  
    }
    
      @media screen and (min-width:1200px) {
        display: flex;
    }
  }
  .footer-social__item {
    width:44px;
    height:44px;
    & + & {
      margin-left: 10px;
    }

  
  }
 
  .footer-social__link {
    width:100%;
    height:100%;
    display:block;
    fill: $whiteTextColor;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(255, 255, 255, 0.1);
    transition: $transitionColor, $transitionBackgroundColor; 

    &:hover,
    &:focus {
      fill:$iconsSocialHoverFill;
      background-color: $iconsCompanyHoverFill;
    }
    
  }
  
  
  