.customers {
  padding-top: 60px;

   
    @media screen and (min-width:768px) {

    }
    
    @media screen and (min-width:1200px) {
      padding-top:94px;
  
    }
  }
  .customers__title {
    color:$mainTextColor;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom:50px;
    padding-top: 60px;


   
    @media screen and (min-width:768px) {

    }
    
    @media screen and (min-width:1200px) {
      font-size: 36px;
    line-height: 1.17;
  
    }
  
  }
  .customers__list {
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
   
  
    
    @media screen and (min-width:1200px) {
      display:flex;
      justify-content:space-between;
  
    }
  }
  .company__link {
    display:flex;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    transition: $transitionBorder;
    margin-bottom: 30px;
    
    &:hover,
    &:focus {
      border: 1px solid $hoverTextColor;
      border-radius: 4px;
    }
    &:hover .company__logo,
    &:focus .company__logo {
   fill:$iconsCompanyHoverFill;
   width: 210px;
   height: 92px;


  }
  
 
    @media screen and (min-width:768px) {
      width: 226px;
      height: 92px;
  }
  
    @media screen and (min-width:1200px) {
      width: 170px;
      height: 92px;
  }

  }
 
  .company__logo {
    fill:#AFB1B8;
    transition: $transitionFill;


  }
  
  